<label>Alert Name</label>
<p>This is using ngModel</p>
<input type="text" class="form-control" [(ngModel)]="alertName">
<p>This is using event binding</p>
<input type="text" class="form-control" (input)="onUpdateAlertName($event)">
<div class="roundbox boxshadow" style="width: 550px; border: solid 2px steelblue">
    <div class="gridheaderleft roundbox-top" [innerText]="alertName"></div>
    <div class="roundbox-bottom" style="height: 150px; text-align:center ; padding: 50px;">
        Warning! If you delete this file from the recycle bin, it can no longer be recovered.
        <hr>
        <div> Are you sure you would like to delete this file <b>PERMANENTLY</b>?</div>
    </div>
    <div style="padding: 25px; text-align: center;" id="btn">
        <button class="btn btn-primary" [disabled]="!allowNewAlert" (click)="onCreateAlert()">Yes</button>
        <button class="btn btn btn-primary">No</button>
    </div>
</div>
<div>
    <div>Creating a New Alert</div>
    <input type="text" class="form-control" [(ngModel)]="alertName">
        <div>
            <button class="btn btn-primary" [disabled]="!allowNewAlert" (click)="onCreateAlert()">Yes</button>
        </div>
    <p>{{alertCreationStatus}}</p>
</div>

